Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

# Listas

In [2]:
frutas=["pera", "mango"]

In [3]:
frutas

['pera', 'mango']

In [5]:
print("Las frutas son:", frutas)

Las frutas son: ['pera', 'mango']

In [6]:
type(frutas)

list

In [8]:
len(frutas) #Me dice cuantos elementos tiene la lista

2

In [10]:
frutas.extend(["piña","sandía","papya"])

In [11]:
frutas

['pera', 'mango', 'piña', 'sandía', 'papya']

In [12]:
frase="Alvaro López Zamora"
nueva=frase.split()

In [13]:
nueva

['Alvaro', 'López', 'Zamora']

In [14]:
type(nueva)

list

In [15]:
nueva.insert(3,"Alumno")

In [16]:
nueva

['Alvaro', 'López', 'Zamora', 'Alumno']

In [19]:
nueva[1:4]

['López', 'Zamora', 'Alumno']

In [21]:
nueva.append("Alvaro")

In [22]:
nueva

['Alvaro', 'López', 'Zamora', 'Alumno', 'Alumno', 'Alvaro']

In [23]:
nueva.reverse()

In [24]:
nueva

['Alvaro', 'Alumno', 'Alumno', 'Zamora', 'López', 'Alvaro']

In [25]:
nueva.remove("Alumno")

In [26]:
nueva

['Alvaro', 'Alumno', 'Zamora', 'López', 'Alvaro']

In [28]:
nueva.reverse()

In [29]:
nueva

['Alvaro', 'López', 'Zamora', 'Alumno', 'Alvaro']

In [31]:
nueva.sort()

In [32]:
nueva

['Alumno', 'Alvaro', 'Alvaro', 'López', 'Zamora']

In [38]:
guion="-"
texto=guion.join(nueva)
texto

'Alumno-Alvaro-Alvaro-López-Zamora'

In [45]:
lista=[4,8,3]
lista

[4, 8, 3]

In [48]:
l2=lista*4 #replica la lista el numero de veces que yo le de

In [49]:
sum(l2)

60

In [50]:
sum(lista) #Sumar los elementos originales de la lista

15

In [51]:
min(lista)

3

In [52]:
mean(lista)

5.0

In [53]:
max(lista)

8

In [55]:
min(nueva) #Alfabeticamente el valor más pequeño

'Alumno'

# Rangos

In [59]:
rango=list(range(1,21))
rango

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [60]:
#pares del 0 al 50
pares=list(range(0,51,2))

In [63]:
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [64]:
mean(pares)

25.0

In [65]:
max(pares)

50

In [66]:
min(pares)

0

In [68]:
pares.insert(1,34)

In [3]:
pares

NameError: name 'pares' is not defined