In [1]:
import numpy as np
import scipy as sp
from numpy import math
%pylab

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

# Diccionarios

Se definen con llaves

Adentro del diccionario tiene la siguiente estrucutra:

        {llave:("texto",numero)}

In [2]:
info={190275:("Sebastián", 20,"CDMX"),198339:("Sara",18,"Toluca"),198701:("Pablo",18,"CDMX")}

In [3]:
info.keys() #Crea una lista con las claves únicas que son las llaves del diccionario

dict_keys([190275, 198339, 198701])

In [4]:
info.items() #Muestra los elementos con conforman el diccionario

dict_items([(190275, ('Sebastián', 20, 'CDMX')), (198339, ('Sara', 18, 'Toluca')), (198701, ('Pablo', 18, 'CDMX'))])

In [6]:
info.get(198339) #Muestra toda la información que corresponde a ese alumno

('Sara', 18, 'Toluca')

In [8]:
info.pop(198339) #Elimina todos los datos correspondientes a la llave

('Sara', 18, 'Toluca')

In [9]:
info

{190275: ('Sebastián', 20, 'CDMX'), 198701: ('Pablo', 18, 'CDMX')}

In [20]:
info2={("000"+str(datos[0]), datos[1][1]) for datos in info.items()}

In [21]:
info2

{('000190275', ('Sebastián', 20, 'CDMX')),
 ('000198701', ('Pablo', 18, 'CDMX'))}