In [1]:
import numpy as np
import scipy as sp
from numpy import math
%pylab

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

# Rangos (cont.) y Conjuntos

In [8]:
mult8=list(range(0,501,8)) #Lista de los míltiplos del 8 de 0 a 500
#range(inicio,fin,incremetno)

In [9]:
print(mult8)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496]

In [10]:
len(mult8)

63

In [11]:
sec1=range(0,501,8)
sec1

range(0, 501, 8)

In [14]:
conjunto=set(sec1)
print(conjunto)

{0, 128, 256, 384, 8, 136, 264, 392, 16, 144, 272, 400, 24, 152, 280, 408, 32, 160, 288, 416, 40, 168, 296, 424, 48, 176, 304, 432, 56, 184, 312, 440, 64, 192, 320, 448, 72, 200, 328, 456, 80, 208, 336, 464, 88, 216, 344, 472, 96, 224, 248, 352, 376, 480, 104, 232, 360, 488, 112, 240, 368, 496, 120}

In [16]:
#el conjunto puede hacer diferentesoperaciones a las que sehacen con las listas
conjunto2=set(range(0,501,5))
print(conjunto2)

{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500}

In [19]:
#quiero saber cuales son los números que son al mismo tiempo múltiplos de 8 y de 5
conjunto3=conjunto.intersection(conjunto2)
print(conjunto3)

{0, 160, 320, 480, 440, 40, 200, 360, 400, 80, 240, 280, 120}

In [22]:
#los multiplos de 8 que no son multiplos de 5
conjunto4=conjunto.difference(conjunto2)

In [23]:
print(conjunto4)

{128, 256, 384, 136, 8, 264, 392, 16, 144, 272, 408, 24, 152, 32, 288, 416, 168, 296, 424, 48, 176, 304, 432, 56, 184, 312, 64, 192, 448, 72, 328, 456, 208, 336, 464, 88, 216, 344, 472, 96, 224, 352, 376, 104, 232, 488, 112, 368, 496, 248}

In [26]:
#interseccion entre conjunto 3 y 4
conjunto3.intersection(conjunto4)
#muestra un conjunto vacio NO HAY NINGUN ELEMENTO COMUN ENTRE AMBOS CONJUNTOS

set()

In [28]:
#TODOS los numeros múltiplos de 5 y 8 de 0 a 500
conjunto5=conjunto.union(conjunto2)

In [29]:
print(conjunto5)

{0, 5, 8, 10, 15, 16, 20, 24, 25, 30, 32, 35, 40, 45, 48, 50, 55, 56, 60, 64, 65, 70, 72, 75, 80, 85, 88, 90, 95, 96, 100, 104, 105, 110, 112, 115, 120, 125, 128, 130, 135, 136, 140, 144, 145, 150, 152, 155, 160, 165, 168, 170, 175, 176, 180, 184, 185, 190, 192, 195, 200, 205, 208, 210, 215, 216, 220, 224, 225, 230, 232, 235, 240, 245, 248, 250, 255, 256, 260, 264, 265, 270, 272, 275, 280, 285, 288, 290, 295, 296, 300, 304, 305, 310, 312, 315, 320, 325, 328, 330, 335, 336, 340, 344, 345, 350, 352, 355, 360, 365, 368, 370, 375, 376, 380, 384, 385, 390, 392, 395, 400, 405, 408, 410, 415, 416, 420, 424, 425, 430, 432, 435, 440, 445, 448, 450, 455, 456, 460, 464, 465, 470, 472, 475, 480, 485, 488, 490, 495, 496, 500}

In [31]:
print("conjunto 1 ",len(conjunto))
print("conjunto 2", len(conjunto2))
print("conjunto 5", len(conjunto5))

#En un conjunto NO hay repetidos
#En un conjutno NO hay orden

conjunto 1  63
conjunto 2 101
conjunto 5 151

In [33]:
#En una lista, si quiero saber el indice de un elemento utilizo index
mult8.index(56)

7

In [35]:
conjunto.remove(128) #Quita un elemento específico del conjunto

In [36]:
print(conjunto)

{0, 256, 384, 8, 136, 264, 392, 16, 144, 272, 400, 24, 152, 280, 408, 32, 160, 288, 416, 40, 168, 296, 424, 48, 176, 304, 432, 56, 184, 312, 440, 64, 192, 320, 448, 72, 200, 328, 456, 80, 208, 336, 464, 88, 216, 344, 472, 96, 224, 248, 352, 376, 480, 104, 232, 360, 488, 112, 240, 368, 496, 120}

In [40]:
conjunto.pop() #Quita un elemento arbitrario del conjunto

256

In [41]:
print(conjunto)

{384, 8, 136, 264, 392, 16, 144, 272, 400, 24, 152, 280, 408, 32, 160, 288, 416, 40, 168, 296, 424, 48, 176, 304, 432, 56, 184, 312, 440, 64, 192, 320, 448, 72, 200, 328, 456, 80, 208, 336, 464, 88, 216, 344, 472, 96, 224, 248, 352, 376, 480, 104, 232, 360, 488, 112, 240, 368, 496, 120}

In [47]:
vocales={"a","e","i","o","u"} #Asignacion directa de los elemetnos del conjunto
nombre="alvaro lopez zamora" #Asignar un string a una variable 
cnombre=set(nombre) #la palabra set crea un conjunto con las letras del string

In [48]:
print(cnombre) #parece incompleto pero un conjunto NO tiene elementos repetidos

{'r', 'a', 'e', 'l', 'z', 'p', ' ', 'o', 'm', 'v'}

In [49]:
#¿Cuáles son las vocales que tiene mi nombre?
vocales.intersection(cnombre)

{'a', 'e', 'o'}

In [50]:
vocales&cnombre #otra forma de hacer la intersección

{'a', 'e', 'o'}

# Cálculos con la función comprehension

In [51]:
[2**n for n in range(3,9)] #mismo resultado que el ejemplo del libro

[8, 16, 32, 64, 128, 256]

In [66]:
#las listas comprehension pueden tener una parte fija y una parte variable

z=500
lista=[w**2+z for w in range(8)] #la w cambia del 0 al7 pero la z permanece fija en 500
print(lista)

[500, 501, 504, 509, 516, 525, 536, 549]

In [79]:
precioFrutas=[5,7.5,10,25]
compraClienteKg=[1,2,3,4]
precioAPagarPorFruta=[p*c for (p,c) in zip(precioFrutas,compraClienteKg)]
totalAPagar=sum(precioAPagarPorFruta)

In [81]:
print(precioAPagarPorFruta)
print(totalAPagar)

[5, 15.0, 30, 100]
150.0

In [89]:
sec1=[i/4 for i in range(1,31)]
print(sec1)

[0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 2.75, 3.0, 3.25, 3.5, 3.75, 4.0, 4.25, 4.5, 4.75, 5.0, 5.25, 5.5, 5.75, 6.0, 6.25, 6.5, 6.75, 7.0, 7.25, 7.5]

In [90]:
sec2=[1/i for i in range(1,31)]
print(sec2)

[1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111, 0.1, 0.09090909090909091, 0.08333333333333333, 0.07692307692307693, 0.07142857142857142, 0.06666666666666667, 0.0625, 0.058823529411764705, 0.05555555555555555, 0.05263157894736842, 0.05, 0.047619047619047616, 0.045454545454545456, 0.043478260869565216, 0.041666666666666664, 0.04, 0.038461538461538464, 0.037037037037037035, 0.03571428571428571, 0.034482758620689655, 0.03333333333333333]

In [106]:
sec3=[2*i+1 for i in range (1,31)]
print(sec3)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61]

# Tarea leer diccionarios y hacer el ejericio 21 en equipos