# Tarea 3 Listas

### Ejericio 33

Encuentre el máximo y mínimo de una sucesión de valores.
Considere la sucesión (tuple) dada a continuación,
(923, 129, 997, 276, 230, 406, 136, 350, 835, 139, 139, 329, 161, 995, 299, 465, 103, 777, 501, 730, 548,
473, 866, 789, 474, 829, 130, 250, 898, 181, 278, 497, 390, 587, 240, 633, 778, 510, 793, 822, 959, 625,
715, 689, 740, 872, 700, 637, 640)

In [33]:
suces1=923, 129, 997, 276, 230, 406, 136, 350, 835, 139, 139, 329, 161, 995, 299, 465, 103, 777, 501, 730, 548, 473, 866, 789, 474, 829, 130, 250, 898, 181, 278, 497, 390, 587, 240, 633, 778, 510, 793, 822, 959, 625, 715, 689, 740, 872, 700, 637, 640

In [34]:
print(suces1)

(923, 129, 997, 276, 230, 406, 136, 350, 835, 139, 139, 329, 161, 995, 299, 465, 103, 777, 501, 730, 548, 473, 866, 789, 474, 829, 130, 250, 898, 181, 278, 497, 390, 587, 240, 633, 778, 510, 793, 822, 959, 625, 715, 689, 740, 872, 700, 637, 640)

a) Encuentre los valores máximo y mínimo (valores extremos), e indique en qué posiciones ocurren
estos valores en la sucesión original.

In [35]:
max(suces1)

997

In [36]:
min(suces1)

103

In [37]:
suces1.index(max(suces1))

2

In [38]:
suces1.index(min(suces1))

16

b) Encuentre los valores segundo máximo y segundo mínimo, e indique en qué posiciones ocurren
estos valores en la sucesión original. (Pista: use una lista de trabajo (list) que permita eliminar los
valores extremos y calcule nuevos valores extremos)

In [39]:
list1=list(suces1)

In [40]:
print(list1)

[923, 129, 997, 276, 230, 406, 136, 350, 835, 139, 139, 329, 161, 995, 299, 465, 103, 777, 501, 730, 548, 473, 866, 789, 474, 829, 130, 250, 898, 181, 278, 497, 390, 587, 240, 633, 778, 510, 793, 822, 959, 625, 715, 689, 740, 872, 700, 637, 640]

In [41]:
list1.remove(997)

In [42]:
list1.remove(103)

In [43]:
max(list1)

995

In [44]:
min(list1)

129

In [45]:
list1.index(max(list1))

12

In [46]:
list1.index(min(list1))

1

c) Encuentre los valores tercer máximo y tercer mínimo, e indique en qué posiciones ocurren estos
valores en la sucesión original.

In [47]:
list1.remove(995)

In [48]:
list1.remove(129)

In [49]:
print(list1)

[923, 276, 230, 406, 136, 350, 835, 139, 139, 329, 161, 299, 465, 777, 501, 730, 548, 473, 866, 789, 474, 829, 130, 250, 898, 181, 278, 497, 390, 587, 240, 633, 778, 510, 793, 822, 959, 625, 715, 689, 740, 872, 700, 637, 640]

In [50]:
max(list1)

959

In [51]:
min(list1)

130

In [52]:
list1.index(max(list1))

36

In [53]:
list1.index(min(list1))

22